body {
  background-color: #e7e8e4;
}
.container {
  background-color: white;
  max-width: 500px;
  border: 1px solid none;
  border-radius: 10px;
  margin: 50px auto;
  margin-bottom: 5px;
}
.worldMapImg {
  width: 50%;
  display: block;
  margin: 0 auto;
  opacity: 0.6;
}

h1,
.displayDay {
  text-align: center;
}
h1 {
  font-size: 50px;
  margin-bottom: 0px;
}
.displayDay {
  font-size: 18px;
  opacity: 0.7;
  position: relative;
  top: -5px;
  margin-bottom: 38.5px;
}
select{
    width: 70%;
      display: block;
  margin: 20px auto 30px;
  padding: 10px;
  border-radius: 5px;
}
.cities{
    margin: 0 40px;
}
#cityContainer{
    display: flex;
    justify-content: space-between;
}
h4{
    font-size: larger;
    margin-top: 0;
}
#day{
    font-size: 16px;
    font-weight: normal;
    opacity: 0.7;
}
#time{
    font-weight: 600;
    font-size: 25px;
    opacity: 0.8;
}
small{
    font-size: 12px;
    vertical-align: text-top;
}
footer{
    text-align: center;
}